@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}

body{
  background-image: url(img/img3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

main{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.widget-container{
  padding: 20px;
}

.music-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1); 
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(12px);
  padding: 30px;
}


img{
  background-color: #fe8daa;
  aspect-ratio: 1/1;
  border-radius: 10%;
  width: 100%;
  object-fit: cover;
}

h2 {
  font-weight: 300;
  margin-bottom: 10px;
}

h4{
  font-size: large;
  font-weight: bold;
}

h5{
  font-size: medium;
  font-weight: 300;
}

.music-info{
  margin-top: 10px;
}

.progress-container {
  background: rgb(192, 191, 191);
  cursor: pointer;
  margin: 10px 0;
  height:1px;
  width: 100%;
  margin-top: 20px;
}

.progress {
  background-color: #ffffff;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  height: 3px;
  transition: width 0.1s linear;
}

.navigation{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 0px;
}

.action-btn {
  background-color: #ffffff00;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
}

.transcript {
  width: 100%;
  height: 30vh;
  overflow-y: scroll;
  font-size: small;
 
}

.transcript::-webkit-scrollbar {
  width: 5px;
}
.transcript::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

.heart {
  position: absolute;
  color: #ff4d6d;
  font-size: 20px;
  user-select: none;
  pointer-events: none;
  animation: floatUp 3s linear forwards;
}

@keyframes floatUp {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(-500px) rotate(360deg); opacity: 0; }
}